body {
  margin: 0;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
}
.recipes {
  display: flex;
}
.RecipeTitle {
  position: center;
}
.navtext {
  display: flex;
}
.links {
  padding-left: 10px;
  padding-right: 10px;
}
.picture {
  width: 50vw;
  height: 50vh;
}
